.mainna{
    text-align: right;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .Dropdown .dropdown-item.active {
    background-color: transparent !important;
  }

  .dropdown-item{
    text-decoration: none;
  }

  #dropdown-variants-1{
    background-color: #427D9D !important;
    border: none;
  }

 .primary1{
  /* background-color: #427D9D; */
  /* color: white; */
  /* padding-left: 2px; */
  color: #424d9d;

 }