.outerdivision{
    display: flex;
    justify-content: flex-start;
    padding: 10vh;
    padding-top: 80px;
    background-image: url('https://imgv3.fotor.com/images/share/Free-blue-gradient-pattern-background-from-Fotor.jpg');
    background-size: cover;
}

.innerdiv{
    justify-content: flex-start;
    text-align: left;
    align-items:flex-start ;
}

.image{
    border-radius: 40px;
}

.piechart{
    margin: 0px;
}

.innerdivision{
    justify-content: flex-end;
    margin: -45px;
}

.paragraph{
    margin-top: 100px;
}